/**
 * 
 * demo.css
 * 
 */

main {
    font-size: 16px;
    margin: 0 auto;
    max-width: 600px;
    padding: 2em;
}

.splash-head {
    color: rebeccapurple;
}

.content-wrapper {
    margin-top: 6em;
}

.pure-form legend {
    color: #7F8C8D;
    margin-bottom: 1em;
    padding: 1em 0;
    transition: ease .8s;
}

.pure-form.has-user-name legend {
    border-color: green;
}
